<!DOCTYPE html>
<html>
<head>

  <title>Dmitry Tarasev - Software Engineer</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :fixed => :top do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Photo Gallery", '/gallery' %>
        <%= drop_down "Web Zoo" do %>
      		<%= menu_item "Anatomy", '/zoo/anatomy'  %>
       		<%= menu_item "Dance Party", '/zoo/danceParty' %>
      		<%= menu_item "Secret Scene", '/zoo/secretScene' %>
       		<%= menu_item "Special", '/zoo/special' %>
          <%= menu_item "Jon's Scene", '/zoo/jonsScene' %>
        <% end %>
    <% end %>
<% end %>
<%= yield %>



<% (0..14).each do |i| %>

<div id= "vert-laser-line-<%="#{i}"%>"></div>

<% end %>

<% (0..10).each do |i| %>

<div id= "horiz-laser-line-<%="#{i}"%>"></div>

<% end %>

</body>
</html>
