<!DOCTYPE html>
<html>
<head>

  <title>Dmitry Tarasev - Software Engineer</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :fixed => :top do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Photo Gallery", 'gallery' %>
    <% end %>
<% end %>
<%= yield %>

</body>
</html>
